@import 'bootstrap/dist/css/bootstrap.css';

html,
body {
  padding: 0;
  margin: 0;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body {
  background-color: snow;
}

.navi {
  background-color: snow;
  font-size: 14px;
}

#home-container .product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}

#home-container .product-item {
  width: calc(25% - 15px);
  margin: 0 5px 50px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
#product-details {
display: flex;
justify-content: center;
}

#signin {
  display: flex;
  background-color: #f3f8fd;
  border-color: #f2f2ff;
  color: black;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 20px;
  border-radius: 20px;
}

#regbtn {
    display: flex;
    background-color: #f3f8fd;
    border-color: #f2f2ff;
    color: black;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    border-radius: 20px;
}

#regbtn2 {
  display: flex;
  background-color: #a9d4fe;
  border-color: #a9d4fe;
  color: black;
  font-size: 15px;
  border-radius: 2px;
}

#enter {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.details-btn {
  background: none;
  border: none;
  padding: 0;
}

::-webkit-scrollbar {
  height: 12px;
  width: 12px;
  background: white;
}

::-webkit-scrollbar-thumb {
  background: #eaeef5;
}

::-webkit-scrollbar-button:end {
  background: rgb(87, 87, 255);
}

::-webkit-scrollbar-button:start {
  background: rgb(87, 87, 255);
}

#searchbtn {
  height: 35px;
  background-color: whitesmoke;
  border-color: whitesmoke;
}

a:hover {
  color:rgb(108, 108, 108);
}

.details-btn:hover {
  color:rgb(108, 108, 108);
}

.form-container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
}

#prodsearch {
  background-color: #e4eef8;
  border-color: #a9d4fe;
  color: black;
  font-size: 15px;
  border-radius: 2px;
}
